.root {
  --ui-upload-height: 86px;
  --ui-upload-width: var(--ui-upload-height);
  --ui-upload-radius: 0;

  position: relative;
  min-height: 112px;
  background: var(--color-100);
  border: 1px solid var(--ui-color-separator);
  border-radius: var(--round-50);
  margin-bottom: 24px;
  transition: border .3s;
  cursor: pointer;
}

.labels {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.files {
  overflow: auto;
  flex: 1;
  display: flex;
  height: inherit;
  align-items: inherit;
  justify-content: inherit;
  gap: inherit;
  flex-wrap: inherit;
  max-width: 100%;
}

.error {
  border-color: var(--color-negative-50);
}

.clear {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  transition: all .3s;

  .root:not(:hover) .input:not(:focus) ~ &,
  .input[data-empty='true'] ~ &,
  .input:disabled ~ &, {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
}

.input {
  position: absolute;
  inset: 50%;
}

.label,
.drag,
.drop {
  position: absolute;
  inset: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  opacity: 1;
  transform: scale(1);
}

.label {
  color: var(--color-60);

  .input:not([data-empty='true']) ~ .labels > & {
    opacity: 0;
    transform: scale(1.5);
    visibility: hidden;
  }

  .over &,
  :global(.drag-over) & {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
}

.drag,
.drop {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.5);
  color: var(--color-link-dark);
}

:global(.drag-over) .drag {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.over .drag {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.over .drop{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.image {
  transition: transform .3s, opacity .3s;
  border: 1px solid var(--color-input-border);
  object-fit: cover;
  background-color: var(--color-90);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: scale(0);
  opacity: 0;

  max-height: var(--ui-upload-height);
  min-height: var(--ui-upload-height);

  max-width: var(--ui-upload-width);
  min-width: var(--ui-upload-width);

  border-radius: var(--ui-upload-radius);
}

.name {
  color: var(--color-60);
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 10px;
  padding: 0 8px 4px;
  box-sizing: border-box;
}

.extension {
  text-transform: uppercase;
}

.imageShow {
  transform: scale(1);
  opacity: 1;
}

:global(.drag-over) .imageShow,
.imageHide {
  transform: scale(0);
  opacity: 0;
}

.focus {
  position: absolute;
  inset: 4px;
  border: dashed 1px var(--color-link-dark);
  border-radius: calc(var(--round-50) - 4px);
  pointer-events: none;
  opacity: 0;
  transition: all .3s;

  :global(.drag-over) &,
  .input:focus ~ & {
    opacity: 1;
  }

  :global(.drag-over) & {
    border-color: var(--color-link-dark);
  }
}

.hint {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 12px;
  color: var(--color-50);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
  max-width: 100%;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity .3s, padding-left .3s;

  &:empty {
    padding-left: 13px;
    opacity: 0;
  }

  .error > & {
    color: var(--color-negative-50);
  }
}
