.root {
  position: absolute;
  opacity: 0;
  transition: opacity .3s, transform .3s;
  background: var(--color-100);
  border: 1px solid var(--color-primary-50);
  border-radius: var(--round-50);
  z-index: var(--ui-over-z-index);
  transform: translateY(-8px);
  overflow: hidden auto;
  max-height: 320px;

  &:empty {
    display: none;
  }
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.hide {
  opacity: 0;
  transform: translateY(8px);
  pointer-events: none;
}
