.root {
  transition: all 0.3s;
  border: none;
  border-top: solid 1px #0003;
  margin: 18px 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
}

.legend {
  padding: 0 16px;
  color: var(--color-50);
}
