@import "src/styles/utils";

.root {
  overflow: auto;

  @include hide-scroll;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.preview {
  cursor: pointer;
}

.slides {

}

.slide {
  width: 100%;
  transition: background .5s;
  background: transparent no-repeat center;
  background-size: contain;
  background-image: var(--ui-stories-story-image);
}

.dots {
  margin-top: 32px;
  width: calc(100% - 120px);
  max-width: 480px;
}

.dot {
  width: 40px;
}
