@import "src/styles/utils";

.root {
  overflow: auto;
  user-select: none;

  @include hide-scroll;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  color: var(--color-100);
}

.preview {
  cursor: pointer;
  border: 2px solid var(--color-80);
  transition: border .3s;

  &.unread,
  &:hover {
    border-color: var(--color-primary-50);
  }
}

.slides {
  user-select: none;
}

.slide {
  width: 100%;
  transition: background .5s;
  background: transparent no-repeat center;
  background-size: contain;
  background-image: var(--ui-stories-story-image);
  user-select: none;
}

.dots {
  user-select: none;
  margin-top: 32px;
  width: calc(100% - 120px);
  max-width: 480px;
}

.dot {
  user-select: none;
  width: 40px;
}
