@import "src/styles/utils";

.root {
  overflow: auto;
  user-select: none;

  @include hide-scroll;
}

.preview {
  cursor: pointer;
  border: 2px solid var(--color-80);
  transition: border .3s;

  &.unread {
    border-color: var(--color-primary-50);
  }

  @media (pointer: fine) {
    &:hover {
      border-color: var(--color-primary-50);
    }
  }
}

.slides {
  user-select: none;
}

.slide {
  width: 100%;
  transition: background .5s;
  background: transparent no-repeat center;
  background-size: contain;
  user-select: none;
}

.dots {
  user-select: none;
  margin-top: 32px;
  width: calc(100% - 120px);
  max-width: 480px;
}

.dot {
  user-select: none;
  width: 40px;
}
