.root {
  padding: 16px;
  cursor: pointer;
  transition: background-color .3s, color .3s, height .3s;
  background-color: var(--color-100);
  user-select: none;
}

.selected {
  color: var(--color-100);
  background-color: var(--color-primary-50);
}

.value {
  display: block;
  font-size: 14px;
  color: var(--color-50);

  .selected > & {
    color: var(--color-primary-80);
  }
}
