.root {
  --ui-toggle-bar-index: -1;

  position: relative;
  overflow: auto hidden;
  max-width: 100%;
  height: 36px;
  border: 2px solid var(--color-80);
  border-radius: 18px;
}

.link {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--color-primary-50);
  transition: color .3s;
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--round-80);
  margin: 2px 0;
  gap: 4px;

  &:hover {
    color: var(--color-10);
  }
  &:focus {
    outline: none;
  }
}

@media (pointer: fine) {
  .focus {
    position: absolute;
    inset: 2px;
    background: var(--color-primary-100);
    border-radius: 15px;
    left: calc((100% - 4px) / var(--ui-toggle-bar-count) * var(--ui-toggle-bar-focus) + 2px);
    right: calc(((100% - 4px) / var(--ui-toggle-bar-count)) * (var(--ui-toggle-bar-count) - var(--ui-toggle-bar-focus) - 1) + 2px);
  }
}

.active {
  color: var(--color-100);

  &:hover {
    color: var(--color-100);
  }
}

.backFocus {
  .focus {
    transition: right .3s .1s, left .3s, opacity .3s;
  }
}

.back {
  .selected {
    transition: right .3s .1s, left .3s, opacity .3s;
  }
}

.forwardFocus {
  .focus{
    transition: right .3s, left .3s .1s, opacity .3s;
  }
}

.forward {
  .selected {
    transition: right .3s, left .3s .1s, opacity .3s;
  }
}

.selected {
  position: absolute;
  inset: 2px;
  background: var(--color-primary-50);
  border-radius: 15px;
  left: calc((100% - 4px) / var(--ui-toggle-bar-count) * var(--ui-toggle-bar-index) + 2px);
  right: calc(((100% - 4px) / var(--ui-toggle-bar-count)) * (var(--ui-toggle-bar-count) - var(--ui-toggle-bar-index) - 1) + 2px);
}
