.root {
  --ui-toggle-bar-index: -1;
  --ui-toggle-bar-inset: 0px;
  --ui-toggle-bar-inset-2: calc(var(--ui-toggle-bar-inset) * 2);

  position: relative;
  overflow: auto hidden;
  max-width: 100%;
  min-height: 36px;
  border: 2px solid var(--color-primary-50);
  border-radius: 500px;
}

.link {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--color-primary-50);
  transition: color .3s;
  cursor: pointer;
  text-decoration: none;
  border-radius: 500px;
  margin: 2px 0;
  gap: 4px;

  &:hover {
    color: var(--color-10);
  }
  &:focus {
    outline: none;
  }
}

@media (pointer: fine) {
  .focus {
    position: absolute;
    inset: var(--ui-toggle-bar-inset);
    background: var(--color-primary-100);
    border-radius: 500px;
    left: calc((100% - var(--ui-toggle-bar-inset-2)) / var(--ui-toggle-bar-count) * var(--ui-toggle-bar-focus) + var(--ui-toggle-bar-inset));
    right: calc(((100% - var(--ui-toggle-bar-inset-2)) / var(--ui-toggle-bar-count)) * (var(--ui-toggle-bar-count) - var(--ui-toggle-bar-focus) - 1) + var(--ui-toggle-bar-inset));
  }
}

.active {
  color: var(--color-100);

  &:hover {
    color: var(--color-100);
  }
}

.backFocus {
  .focus {
    transition: right .3s .1s, left .3s, opacity .3s;
  }
}

.back {
  .selected {
    transition: right .3s .1s, left .3s, opacity .3s;
  }
}

.forwardFocus {
  .focus {
    transition: right .3s, left .3s .1s, opacity .3s;
  }
}

.forward {
  .selected {
    transition: right .3s, left .3s .1s, opacity .3s;
  }
}

.selected {
  position: absolute;
  inset: var(--ui-toggle-bar-inset);
  background: var(--color-primary-50);
  border-radius: 500px;
  left: calc((100% - var(--ui-toggle-bar-inset-2)) / var(--ui-toggle-bar-count) * var(--ui-toggle-bar-index) + var(--ui-toggle-bar-inset));
  right: calc(((100% - var(--ui-toggle-bar-inset-2)) / var(--ui-toggle-bar-count)) * (var(--ui-toggle-bar-count) - var(--ui-toggle-bar-index) - 1) + var(--ui-toggle-bar-inset));
}
