.root {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  background: radial-gradient(ellipse at center, var(--ui-arrow-color) 0, var(--ui-arrow-color) 1px, transparent 1px);
  top: 4px;
  left: 2px;
  transition: top .3s, left .3s;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 9px;
    top: calc(50% - 1px);
    background: var(--ui-arrow-color);
    transition: transform .3s;
    transform-origin: right center;
    right: 50%;
    border-radius: 1px 0 0 1px;
  }

  &:before {
    transform: rotateZ(35deg);
  }

  &:after {
    transform: rotateZ(145deg);
  }
}

.top {
  top: 0;
  left: 2px;

  &:before {
    transform: rotateZ(-35deg);
  }

  &:after {
    transform: rotateZ(215deg);
  }
}

.right {
  top: 2px;
  left: 4px;

  &:before {
    transform: rotateZ(-45deg);
  }

  &:after {
    transform: rotateZ(45deg);
  }
}

.left {
  top: 2px;
  left: 0;

  &:before {
    transform: rotateZ(-125deg);
  }

  &:after {
    transform: rotateZ(125deg);
  }
}
