.root {
  --ui--arrow-weight: calc(var(--ui-arrow-size) / 9);
  --ui--arrow-weight-half: calc(var(--ui--arrow-weight) / 2);
  --ui--arrow-weight-negative: calc(var(--ui--arrow-weight) * -1);

  display: inline-block;
  position: relative;
  height: var(--ui-arrow-size);
  padding-left: var(--ui-arrow-size);
  background: radial-gradient(ellipse at center, var(--ui-arrow-color) 0, var(--ui-arrow-color) var(--ui--arrow-weight-half), transparent var(--ui--arrow-weight-half));
  top: var(--ui--arrow-weight);
  left: 0;
  transition: top .3s, left .3s, background .3s;
  vertical-align: middle;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: var(--ui--arrow-weight);
    width: calc(var(--ui-arrow-size) / 2);
    top: calc(50% - var(--ui--arrow-weight-half));
    background: var(--ui-arrow-color);
    transition: transform .3s, background .3s;
    transform-origin: right center;
    right: 50%;
    border-radius: var(--ui--arrow-weight-half) 0 0 var(--ui--arrow-weight-half);
  }

  &:before {
    transform: rotateZ(35deg);
  }

  &:after {
    transform: rotateZ(145deg);
  }
}

.top {
  top: var(--ui--arrow-weight-negative);

  &:before {
    transform: rotateZ(-35deg);
  }

  &:after {
    transform: rotateZ(215deg);
  }
}

.right {
  top: 0;
  left: var(--ui--arrow-weight);

  &:before {
    transform: rotateZ(-45deg);
  }

  &:after {
    transform: rotateZ(45deg);
  }
}

.left {
  top: 0;
  left: var(--ui--arrow-weight-negative);

  &:before {
    transform: rotateZ(-125deg);
  }

  &:after {
    transform: rotateZ(125deg);
  }
}
