.root {
  position: fixed;
  inset: 0;
  opacity: 1;
  transition: all 0.5s;
  cursor: pointer;
  perspective: 900px;
  transform-style: flat;
  z-index: 999;

  &:empty {
    opacity: 0;
    pointer-events: none;
  }
}
