@import "src/styles/skeleton";

.root {
  --ui-flex: flex;
  --ui-flex-flex: none;
  --ui-flex-gap: none;
  --ui-flex-wrap: nowrap;
  --ui-flex-direction: row;
  --ui-flex-align: flex-start;
  --ui-flex-justify: flex-start;
  --ui-flex-padding: 0;
  --ui-flex-loading-offset: 0;

  box-sizing: border-box;
  display: var(--ui-flex);
  flex: var(--ui-flex-flex);
  gap: var(--ui-flex-gap);
  flex-wrap: var(--ui-flex-wrap);
  flex-direction: var(--ui-flex-direction);
  align-items: var(--ui-flex-align);
  justify-content: var(--ui-flex-justify);
  padding: var(--ui-flex-padding);
}

.load {
  @include skeletonAfter(calc(var(--ui-flex-loading-offset) * -1));
}

.loading {
  @include skeletonAfterShow;
}
