.root {
  position: relative;
  border: none;
  background: transparent;
  font: inherit;
  cursor: default;

  width: var(--ui-hover-card-width, auto);
}

.card {
  position: absolute;
  transition: opacity .3s;
  left: -1px;
  right: -1px;
  z-index: 1;
  opacity: 0;
  max-width: none;

  .root:not(.verticalReverse) > & {
    top: -1px;
  }

  .verticalReverse > & {
    bottom: -1px;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
