@keyframes show {
  from {
    max-height: 0;
  }
  to {
    max-height: var(--ui-sub-menu-height);
  }
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  font-size: 32px;
}

.submenu {
  --ui-sub-menu-height: fit-content;

  display: flex;
  transition: all .3s;
  max-height: 0;
  min-height: 0;
  gap: 4px;
  font-size: 75%;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
}

.link {
  text-decoration: none;
}

.linkActive {
  color: var(--color-link-dark);

  & + .submenu {
    visibility: visible;
    animation: show .3s;
    max-height: fit-content;
    min-height: var(--ui-sub-menu-height);
  }
}
