@use "src/styles/skeleton";

.loading {
  @include skeleton.skeletonAfter;
  @include skeleton.skeletonAfterShow;

  display: inline-flex;
  width: var(--ui-icon-size, 16px);
  height: var(--ui-icon-size, 16px);
  border-radius: 500px;
  position: relative;
}
