@import "src/styles/breakpoints";

.root {
  @media (min-width: $laptop) {
    padding: 20px 20px 0;
  }
}

.content {
  border-radius: 8px 8px 0 0;
  background: var(--color-100);
}

.aside {
  overflow: auto;
  height: var(--window-height);
  position: sticky;
  box-sizing: border-box;
  top: 20px;
}

.header {
  position: sticky;
  top: 0;
  padding: 16px;
  background: var(--color-90);
  z-index: 1;
}
