@import "colors";
@import "theme";
@import "typography";
@import "round";

html,body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--color-90);
  color: var(--color-10);
  scroll-behavior: smooth;
}

:root {
  --scroll: 0;
  --window-height: 100vh;
}

a {
  color: var(--color-10);
  text-decoration-thickness: 1px;
  text-underline-position: under;
  cursor: pointer;

  &:hover {
    color: var(--color-link-dark);
    text-decoration: none;
  }
}
