@import "colors";
@import "theme";
@import "typography";
@import "round";

html,body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--color-90);
  color: var(--color-10);
  scroll-behavior: smooth;
}

:root {
  --scroll: 0;
  --window-height: 100vh;
}

a {
  transition: color .3s;
  color: var(--color-secondary-50);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--color-secondary-70);
  }
  &:focus {
    outline: none;

    :global(.tab) & {
      color: var(--color-warning-50);
    }
  }
  &:active {
    color: var(--color-secondary-40);
  }
}
