:root {
  --color-0: #333;
  --color-20: #555;
  --color-40: #777;
  --color-60: #A0A0A0;
  --color-70: #ebebeb;
  --color-80: #f3f3f3;
  --color-100: #fff;

  --color-link-dark: #1565fb;
  --color-link-accent: #7572FE;
  --color-accent: #945EF8;
  --color-accent-dark: #7648c9;
  --color-accent-light: #9d6dfa;
  --color-red-light: #f74879;
  --color-red: #ff2264;
  --color-red-dark: #ee074b;
  --color-orange: #ec9b1f;
  --color-green: #3b5;

  --color-input: #F8FAFF;
  --color-input-border: #EDF2FE;

  --color-overlay: #0000003c;
  --color-light-shadow: #6D6D6D26;
  --color-dark-shadow: #000f1c;
}
