:root {
  // Main colors

  --color-0: #1b1b1b;
  --color-10: #2b2b2b;
  --color-20: #5c5c5c;
  --color-30: #707070;
  --color-40: #858585;
  --color-50: #999;
  --color-60: #adadad;
  --color-70: #c2c2c2;
  --color-80: #d6d6d6;
  --color-90: #ebebeb;
  --color-100: #fff;

  --color-primary-0: #4a2f7c;
  --color-primary-10: #593895;
  --color-primary-20: #6842ae;
  --color-primary-30: #764bc6;
  --color-primary-40: #8555df;
  --color-primary-50: #945ef8;
  --color-primary-60: #9f6ef9;
  --color-primary-70: #a97ef9;
  --color-primary-80: #b48efa;
  --color-primary-90: #bf9efb;
  --color-primary-100: #d4bffc;

  --color-secondary-0: #23337c;
  --color-secondary-10: #293d94;
  --color-secondary-20: #3047ad;
  --color-secondary-30: #3751c6;
  --color-secondary-40: #3e5bde;
  --color-secondary-50: #4565f7;
  --color-secondary-60: #5874f8;
  --color-secondary-70: #6a84f9;
  --color-secondary-80: #7d93f9;
  --color-secondary-90: #8fa3fa;
  --color-secondary-100: #b5c1fc;

  --color-negative-0: #6c2531;
  --color-negative-10: #812c3b;
  --color-negative-20: #973345;
  --color-negative-30: #ac3a4e;
  --color-negative-40: #c24258;
  --color-negative-50: #d74962;
  --color-negative-60: #db5b72;
  --color-negative-70: #df6d81;
  --color-negative-80: #e38091;
  --color-negative-90: #e792a1;
  --color-negative-100: #efb6c0;

  --color-warning-0: #7d3c17;
  --color-warning-10: #96471c;
  --color-warning-20: #af5320;
  --color-warning-30: #c85f25;
  --color-warning-40: #e16b29;
  --color-warning-50: #fa772e;
  --color-warning-60: #fb8543;
  --color-warning-70: #fb9258;
  --color-warning-80: #fca06d;
  --color-warning-90: #fcad82;
  --color-warning-100: #fdc9ab;

  --color-positive-0: #175933;
  --color-positive-10: #1c6b3d;
  --color-positive-20: #207d47;
  --color-positive-30: #258e52;
  --color-positive-40: #29a05c;
  --color-positive-50: #2eb266;
  --color-positive-60: #43ba75;
  --color-positive-70: #58c185;
  --color-positive-80: #6dc994;
  --color-positive-90: #82d1a3;
  --color-positive-100: #abe0c2;

  // Theme colors

  --color-link-dark: #1565fb;
  --color-red-light: #f74879;
  --color-red: var(--color-negative-20);
  --color-orange: #ec9b1f;
  --color-green: var(--color-positive-50);
}
