@keyframes skeleton {
  from {
    background-position: 70%;
  }
  30% {
    background-position: 100%;
  }
  31% {
    background-position: 0;
  }
  to {
    background-position: 70%;
  }
}

@mixin skeleton {
  background-image: linear-gradient(95deg, var(--ui-skeleton-color-base) 0, var(--ui-skeleton-color-base) 45%, var(--ui-skeleton-color-shine) 50%, var(--ui-skeleton-color-base) 55%, var(--ui-skeleton-color-base) 100%);
  background-repeat: repeat;
  background-size: 500%;
  background-attachment: fixed;
  animation: skeleton 2s reverse infinite linear;
  background-position: 70%;
}

@mixin skeletonAfter($inset: 0) {
  &:after {
    content: '';
    display: block;
    position: absolute;
    inset: $inset;
    transition: opacity .3s;
    opacity: 0;
    pointer-events: none;
    border-radius: inherit;
    @include skeleton;
  }
}

@mixin skeletonAfterShow {
  cursor: default;

  &:after {
    opacity: 1;
  }
}
