$base-color: var(--color-90);
$shine-color: var(--color-primary-100);
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

@keyframes skeleton {
  from {
    background-position: 70%;
  }
  30% {
    background-position: 100%;
  }
  31% {
    background-position: 0;
  }
  to {
    background-position: 70%;
  }
}

@mixin skeleton {
  background-image: linear-gradient(95deg, $base-color 0, $base-color 45%, $shine-color 50%, $base-color 55%, $base-color 100%);
  background-repeat: repeat;
  background-size: 500%;
  background-attachment: fixed;
  animation: skeleton 2s reverse infinite linear;
}
