.root {
  position: fixed;
  top: var(--ui-popout-top);
  left: var(--ui-popout-left);
  width: var(--ui-popout-width);
  height: var(--ui-popout-height);
  border: var(--ui-popout-border);
  border-radius: var(--ui-popout-radius);
  box-sizing: border-box;
  transition: all .1s;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: var(--ui-over-z-index);
}

.preshow {
  opacity: 1;

  .content {
    opacity: 1;
  }
}

.show {
  transition: all .3s, border-radius .3s ease-in;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--window-height);
  border: solid 0 transparent;
  border-radius: 0;

  & > .static,
  & > .content {
    left: 0;
    top: 0;
  }
}

.shown {
  pointer-events: all;
}

.touch {
  --ui-popout-touth-offset: 600;
  --ui-popout-touch: calc(min(var(--ui-popout-touch-hide), var(--ui-popout-touth-offset)) / var(--ui-popout-touth-offset));

  transition: background .3s;
  border-radius: calc(var(--ui-popout-touch) * var(--ui-popout-radius));
  top: calc(var(--ui-popout-touch) * var(--ui-popout-top));
  left: calc(var(--ui-popout-touch) * var(--ui-popout-left));
  width: calc(100% * (1 - var(--ui-popout-touch)) + (var(--ui-popout-touch) * var(--ui-popout-width)));
  height: calc(100% * (1 - var(--ui-popout-touch)) + (var(--ui-popout-touch) * var(--ui-popout-height)));

  .content {
    opacity: calc(1 - var(--ui-popout-touch));
    transition: none;
    top: calc(var(--ui-popout-touch) * var(--ui-popout-top) * -1);
    left: calc(var(--ui-popout-touch) * var(--ui-popout-left) * -1);
  }

  & > .static {
    transition: none;
    top: calc(var(--ui-popout-touch) * var(--ui-popout-top) * -1);
    left: calc(var(--ui-popout-touch) * var(--ui-popout-left) * -1);
  }
}

.hide {
  transition: all .3s, border-radius .3s ease-out, opacity .3s .3s;
  top: var(--ui-popout-top);
  left: var(--ui-popout-left);
  width: var(--ui-popout-width);
  height: var(--ui-popout-height);
  border: var(--ui-popout-border);
  border-radius: var(--ui-popout-radius);
  opacity: 0;

  & > .static,
  & > .content {
    top: calc(var(--ui-popout-top) * -1);
    left: calc(var(--ui-popout-left) * -1);
    opacity: 0;
    transition: all .3s;
  }
}

.static {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  transition: all .3s;
  width: 100vw;
  height: var(--window-height);
  top: calc(var(--ui-popout-top) * -1);
  left: calc(var(--ui-popout-left) * -1);

  & > * {
    pointer-events: all;
  }
}

.content {
  position: absolute;
  top: calc(var(--ui-popout-top) * -1);
  left: calc(var(--ui-popout-left) * -1);
  width: 100vw;
  height: var(--window-height);
  transition: all .3s;
  background: transparent;
  opacity: 0;
  overflow: auto;
  box-sizing: border-box;
}
