.root {
  position: fixed;
  top: var(--ui-popout-top);
  left: var(--ui-popout-left);
  width: var(--ui-popout-width);
  height: var(--ui-popout-height);
  border: var(--ui-popout-border);
  border-radius: var(--ui-popout-radius);
  background: var(--ui-popout-background);
  box-sizing: border-box;
  transition: all .1s;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: var(--ui-over-z-index);
}

.preshow {
  opacity: 1;
}

.show {
  transition: all .3s, border-radius .3s ease-in;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--window-height);
  border: solid 0 transparent;
  border-radius: 0;
  pointer-events: all;

  .content {
    left: 0;
    top: 0;
    opacity: 1;
  }
}

.touch {
  transition: none;
  border-radius: calc(var(--ui-popout-touch-hide) / 2);
  left: calc(var(--ui-popout-touch-hide) / 2);
  top: calc(var(--ui-popout-touch-hide) / 2);
  width: calc(100% - var(--ui-popout-touch-hide));
  height: calc(var(--window-height) - var(--ui-popout-touch-hide));

  .content {
    transition: none;
    left: calc(var(--ui-popout-touch-hide) / -2);
    top: calc(var(--ui-popout-touch-hide) / -2);
  }
}

.hide {
  transition: all .3s, border-radius .3s ease-out, opacity .3s .3s;
  top: var(--ui-popout-top);
  left: var(--ui-popout-left);
  width: var(--ui-popout-width);
  height: var(--ui-popout-height);
  border: var(--ui-popout-border);
  border-radius: var(--ui-popout-radius);
  opacity: 0;

  .content {
    top: calc(var(--ui-popout-top) * -1);
    left: calc(var(--ui-popout-left) * -1);
    opacity: 0;
  }
}

.content {
  position: absolute;
  top: calc(var(--ui-popout-top) * -1);
  left: calc(var(--ui-popout-left) * -1);
  width: 100vw;
  height: var(--window-height);
  transition: all .3s;
  background: var(--color-100);
  opacity: 0;
  overflow: auto;
  box-sizing: border-box;
}
