.root {
  transition: opacity .3s, transform .3s;
  position: absolute;
  opacity: 0;
  background: var(--color-surface-gray);
  transform: var(--ui-drawer-transform);
  cursor: default;
  box-sizing: border-box;
  box-shadow: 0 0 10px 1px rgba(34, 34, 34, 0.15);
  border: 1px solid var(--color-90);
}

.top,
.bottom {
  width: 100%;
  height: var(--ui-drawer-size);
}

.right,
.left {
  width: var(--ui-drawer-size);
  height: 100%;
}

.top,
.bottom,
.left {
  left: 0;
}

.top,
.right,
.left {
  top: 0;
}

.bottom {
  --ui-drawer-transform: translate(0, 30%);
  top: calc(100% - var(--ui-drawer-size));
}

.right {
  --ui-drawer-transform: translate(30%, 0);
  left: calc(100% - var(--ui-drawer-size));
}

.top {
  --ui-drawer-transform: translate(0, -30%);
}

.left {
  --ui-drawer-transform: translate(-30%, 0);
}

.show {
  opacity: 1;
  transform: translate(0);
}

.touch {
  transition: none;
  opacity: calc(1 - (var(--ui-drawer-touch-hide) / 400));

  &.left {
    transform: translateX(calc(var(--ui-drawer-touch-hide) * -1px));
  }
  &.right {
    transform: translateX(calc(var(--ui-drawer-touch-hide) * 1px));
  }
  &.top {
    transform: translateY(calc(var(--ui-drawer-touch-hide) * -1px));
  }
  &.bottom {
    transform: translateY(calc(var(--ui-drawer-touch-hide) * 1px));
  }
}

.hide {
  opacity: 0;
  transform: var(--ui-drawer-transform);
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.close {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 12px;
  right: -21px;
  background: var(--color-primary-90);
  color: var(--color-100);
  padding: 17px;
  border-radius: 50%;
}
