.root {
  position: relative;
  box-sizing: border-box;
  min-height: 64px;
  margin-bottom: 24px;
  cursor: text;
}

.before {
  order: -1;
}

.before,
.after {
  cursor: default;
}

.border {
  position: absolute;
  inset: 0;
  border: 1px solid var(--color-80);
  border-radius: 4px;
  pointer-events: none;
}

.input {
  transition: opacity .3s;
  display: flex;
  width: 208px;
  background: transparent;
  border: none;
  border-radius: inherit;
  flex: 1;
  font-family: inherit;
  font-size: 16px;
  padding: 0;

  &:focus {
    outline: none;
  }

  .withLabel > & {
    margin-top: 12px;
    opacity: 0;

    &:not([data-value='']),
    &:focus {
      opacity: 1;
    }
  }
}

.label {
  top: 24px;
  transition: all .3s;
  font-size: 16px;
  color: var(--color-60);
  position: absolute;

  .input:not([data-value='']) ~ &,
  .input:focus ~ &,
  .before ~ & {
    top: 16px;
    font-size: 12px;
  }
}
