.root {
  border: var(--ui-flex-loading-offset) solid var(--ui-color-separator);
  border-radius: var(--ui-card-radius, var(--round-60));
  background-color: var(--color-100);
  transition: all .3s;
  max-width: 100%;
  opacity: 0;
  transform: translateZ(50px);
  box-shadow: 0 0 30px -10px rgba(109, 109, 109, 0);
  text-decoration: none;
  width: var(--ui-card-width, auto);
  height: var(--ui-card-height, auto);
  box-sizing: border-box;
  position: relative;
  transform-origin: center;

  & & {
    border-radius: var(--ui-card-radius, var(--round-50));
  }
}

.show {
  opacity: 1;
  box-shadow: 0 0 0 0 rgba(109, 109, 109, 0.5);
  transform: translateZ(0);
  transition-delay: var(--ui-cards-delay, 0s);

  &:nth-child(odd) {
    transition-delay: var(--ui-cards-delay, .1s);
  }

  &:nth-child(3n) {
    transition-delay: var(--ui-cards-delay, .2s);
  }
}

.shown {
  &:nth-child(1n) {
    transition: all .3s;
  }
}

.hide {
  opacity: 0;
  transform: translateZ(50px);
  transition: all var(--ui-cards-delay, 0s);

  &:nth-child(odd) {
    transition: all var(--ui-cards-delay, .1s);
  }

  &:nth-child(3n) {
    transition: all var(--ui-cards-delay, .2s);
  }
}

.clickable {
  cursor: pointer;
  transition: all .3s;
  user-select: none;
  color: inherit;

  &:hover {
    transform: translateZ(10px);
    box-shadow: 0 0 30px -10px rgba(109, 109, 109, 0.15);
    color: inherit;
  }

  &:active {
    transition: all .2s;
    transform: translateZ(20px);
    color: inherit;
  }
}
