.root {
  --ui-carts-top: 0;

  padding: 32px 0;
  perspective: 900px;
  perspective-origin: center calc(var(--scroll) - var(--ui-cards-top) + 50vh);

  @supports (perspective-origin-x: center) {
    perspective-origin-x: center;
    perspective-origin-y: calc(var(--scroll) - var(--ui-cards-top) + 50vh);
  }

  &:empty {
    display: none;
  }
}
