.root {

}

.contentHeader {
  border-bottom: 1px solid var(--ui-color-separator);
}

.contentHeaderButton {
  display: flex;
  gap: 8px;
  align-items: center;
  background: none;
  border: none;
  font: inherit;
  color: var(--color-secondary-50);
  cursor: pointer;

  &:hover {
    color: var(--color-secondary-70);
  }
  &:focus {
    color: var(--color-warning-50);
    outline: none;
  }
  &:active {
    color: var(--color-secondary-40);
  }
}

.cell {
  cursor: pointer;
}

.cellCustom {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  text-transform: capitalize;
  min-height: 60px;

  &:hover {
    background-color: var(--color-surface-purple);
  }
}

.cellSelected {
  background-color: var(--color-primary-50);
  color: var(--color-100);

  &:hover {
    background-color: var(--color-primary-40);
  }
}

.cellToday {
  border: 1px solid var(--color-primary-70);
  box-sizing: border-box;
}

.cellDisabled {
  pointer-events: none;
  background-color: var(--color-90);
  color: var(--color-70);
}

.content {
  top: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.contentWrapper {
  transition: opacity .3s, transform .3s;
  opacity: 0;
  transform: translateX(-100%);
  flex: 1;
  display: flex;
  flex-direction: column;

  &.rightContent {
    transform: translateX(100%);
  }
}

.contentShow {
  &, &.rightContent, {
    opacity: 1;
    transform: translateX(0);
  }
}

.contentHide {
  transform: translateX(-100%);

  &, &.rightContent {
    opacity: 0;
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
  }

  &.rightContent {
    transform: translateX(100%);
  }
}

.contentGridWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  flex-basis: 436px;
  overflow: hidden auto;
  position: relative;
}

.monthGrid {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
  opacity: 0;
  transform: translateX(50%);
  transition: opacity .3s, transform .3s;
}

.monthGridShow {
  opacity: 1;
  transform: translateX(0);
}

.monthGridHide {
  opacity: 0;
}

.yearGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  opacity: 0;
  transition: opacity .3s, transform .3s;
  transform: translateX(50%);
}

.yearGridShow {
  opacity: 1;
  transform: translateX(0);
}

.yearGridHide {
  opacity: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  transform: translateX(-50%);
}
