@keyframes spin {
  from {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-50%);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(50%);
  }
  40% {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}

.root {
  transition: opacity .3s;
  opacity: 0;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.point {
  display: block;
  animation: spin 2s infinite linear;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #333;

  &:nth-child(2) {
    animation-delay: .2s;
  }

  &:nth-child(3) {
    animation-delay: .4s;
  }
}
