.root {
  --ui-flip-card-rotation1: -179deg;
  --ui-flip-card-rotation2: 179deg;

  position: relative;
}

.revert {
  --ui-flip-card-rotation1: 179deg;
  --ui-flip-card-rotation2: -179deg;
}

.vertical {
  --ui-flip-card-animation1: rotateX(var(--ui-flip-card-rotation1));
  --ui-flip-card-animation2: rotateX(var(--ui-flip-card-rotation2));
}

.horizontal {
  --ui-flip-card-animation1: rotateY(var(--ui-flip-card-rotation1));
  --ui-flip-card-animation2: rotateY(var(--ui-flip-card-rotation2));
}

.front {
  backface-visibility: hidden;
}

.back,
.back:hover {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  transform: var(--ui-flip-card-animation1) translateZ(-20px);
}

.show {
  .root:nth-child(1n) > & {
    transition-delay: 0s;
  }

  .root:nth-child(odd) > & {
    transition-delay: .1s;
  }

  .root:nth-child(3n) > & {
    transition-delay: .2s;
  }
}

.shown {
  .root:nth-child(1n) > & {
    transition: all .3s;
  }
}

.hide {
  .root:nth-child(1n) > & {
    transition: all .1s .05s;
  }

  .root:nth-child(odd) > & {
    transition: all .1s;
  }

  .root:nth-child(3n) > & {
    transition: all .2s;
  }
}

.flip {
  & > .front {
    &, &:hover {
      transform: var(--ui-flip-card-animation2) translateZ(-20px);
    }
  }
  & > .back {
    &, &:hover {
      transform: rotate(0) translateZ(20px);
      box-shadow: 0 0 30px -10px rgba(109, 109, 109, 0.15);
    }
  }
}
