.input {
  --ui-textarea-resize: none;
  --ui-textarea-autosize: auto;
  --ui-textarea-min: 20px;

  min-height: var(--ui-textarea-min);
  height: var(--ui-textarea-autosize);
  resize: var(--ui-textarea-resize);
}
