@use "src/styles/utils";

.root {
  overflow: auto;
  min-height: 120px;
  position: relative;
  scroll-snap-type: x mandatory;

  @include utils.hide-scroll;
}

.ready {
  scroll-behavior: smooth;
}

.vertical {
  scroll-snap-type: y mandatory;
}

.slide {
  scroll-snap-align: center;
  box-sizing: border-box;
}

.dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
