.root {
  --ui-button-flex: none;

  outline: 1px solid transparent;
  display: inline-block;
  transition: background-color 0.3s, border-color .3s, opacity 0.3s, outline 0.3s;
  border: 1px solid var(--color-primary-50);
  background-color: var(--color-primary-50);
  border-radius: var(--round-50);
  padding: 0;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
  flex: var(--ui-button-flex);
  text-align: center;
  text-decoration: none;
  position: relative;
  min-width: 120px;
  color: var(--color-100);
}

.primary {
  &:hover {
    background-color: var(--color-primary-60);
    border-color: var(--color-primary-60);
  }

  &:active {
    background-color: var(--color-primary-40);
    border-color: var(--color-primary-40);
  }
}

.secondary {
  background-color: var(--color-primary-90);
  border-color: var(--color-primary-90);
  color: var(--color-primary-50);

  &:hover {
    background-color: var(--color-primary-80);
    border-color: var(--color-primary-80);
  }

  &:active {
    background-color: var(--color-primary-70);
    border-color: var(--color-primary-70);
  }
}

.negative {
  background-color: var(--color-100);
  border-color: var(--color-negative-10);
  color: var(--color-negative-10);

  &:hover {
    background-color: var(--color-negative-10);
    border-color: var(--color-negative-10);
    color: var(--color-100);
  }

  &:active {
    background-color: var(--color-negative-0);
    border-color: var(--color-negative-0);
    color: var(--color-100);
  }
}

.positive {
  background-color: var(--color-positive-50);
  border-color: var(--color-positive-50);

  &:hover {
    background-color: var(--color-positive-60);
    border-color: var(--color-positive-60);
  }

  &:active {
    background-color: var(--color-positive-30);
    border-color: var(--color-positive-30);
  }
}

.root:focus {
  outline: 1px solid var(--color-warning-50);
  border-color: var(--color-warning-50);
}

.small > .content {
  padding: 16px 24px;
}

.loading {
  opacity: .5;
  pointer-events: none;

  .content {
    color: transparent;
  }
}

.content {
  display: block;
  transition: color 0.3s;
  color: inherit;
  padding: 24px;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
