.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  position: relative;
}

.content {
  position: relative;
  flex: 1;
}

.date {
  position: absolute;
  left: 50%;
  top: 50%;
  text-transform: capitalize;
  color: var(--color-secondary-50);
  cursor: pointer;
  white-space: nowrap;
  opacity: 0;
  transition: opacity .3s, transform .3s;
  transform: translate(-50%, 0);
  font: inherit;
  border: none;
  background: none;

  @media (pointer: fine) {
    &:hover {
      color: var(--color-secondary-70);
    }
  }

  &:focus {
    outline: none;

    :global(.tab) & {
      color: var(--color-warning-50);
    }
  }

  &:active {
    color: var(--color-secondary-40);
  }

  &.rotationTop {
    transform: translate(-50%, -100%);
  }
}

.dateShow {
  opacity: 1;
  transform: translate(-50%, -50%);

  &.rotationTop {
    transform: translate(-50%, -50%);
  }
}

.dateHide {
  opacity: 0;
  transform: translate(-50%, -100%);

  &.rotationTop {
    transform: translate(-50%, 0);
  }
}

.arrow {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  font: inherit;
  border: none;
  background: none;

  &:focus {
    outline: none;

    :global(.tab) & {
      color: var(--color-warning-50);
    }
  }

  & ~ & {
    left: auto;
    right: 5%;
  }
}
