.root {
  transition: height .3s;
  overflow: hidden;
}

.summary {
  cursor: pointer;
  user-select: none;
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: color .3s;

  &::-webkit-details-marker {
    display:none;
  }

  &:hover {
    outline: none;
    color: var(--color-secondary-50);

    .arrow {
      --ui-arrow-color: var(--color-secondary-50);
    }
  }
  &:focus {
    outline: none;

    :global(.tab) & {
      color: var(--color-warning-50);

      .arrow {
        --ui-arrow-color: var(--color-warning-50);
      }
    }
  }
}
