.root {
  transform: translateX(0);
  transition: transform .3s;
  text-transform: uppercase;
  font-weight: 600;
}

.accent {
  color: var(--color-primary-50);
  font-weight: 900;
}

.hide {
  transform: translateX(-10px);
}

.subTitle {
  color: var(--color-50);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  font-weight: normal;
}

@starting-style {
  .root {
    transform: translateX(10px);
  }
}
