.root {
  color: var(--color-primary-50);
  transform: translateX(10px);
  transition: transform .3s;
  text-transform: uppercase;
  font-weight: 900;
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(-10px);
}

.subTitle {
  color: var(--color-50);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  font-weight: normal;
}
